.Modal {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.BirthdayFont {
    color: #FF00FF;
    font-family: 'Luckiest Guy', cursive;
    font-size: 45px;
    text-align: center;
}

@media (max-width: 600px) {
    .BirthdayFont {
        font-size: 38px;
    }
}

@media (max-width: 400px) {
    .Gif {
        width: 80%;
    }

    .BirthdayFont {
        font-size: 30px;
    }
}

