.ButtonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.Button {
    height: 60px;
    width: 60px;
    font-size: 17px;
    font-family: 'Satisfy', cursive;
    border-radius: 30px;
    cursor: pointer;
}

.Button:hover {
    background-color: black;
    color: white;
}

.Funk {
    background-color: green;
    color: white;
}

.NoFunk {
    background-color: red;
}

/* @media (max-width: 400px) {
    .ButtonContainer {
        flex-direction: column;
        width: 80%;
        height: 80px;
        padding: 15px 20px;
        margin: auto;
    }

    .Button {
        margin: auto;
    }
} */